name: Publish

on: [push]

jobs:
  main:
    name: Validate STAC
    runs-on: ubuntu-latest
    concurrency: validate-${{ github.ref }}

    steps:
      - uses: linz/action-typescript@v3

      # FIXME: catalog.json is not pushed to the repository (temporary solution)
      - name: Create Catalog
        uses: docker://ghcr.io/linz/argo-tasks:v2
        with:
          args: stac-catalog --output stac/catalog.json --template template/catalog.json /github/workspace/stac/

      - name: Validate STAC
        run: |
          # Enable double star operator
          shopt -s globstar
          docker run -v "$PWD:$PWD" ghcr.io/linz/argo-tasks:v2 stac-validate "$PWD"/stac/**/collection.json

  deploy-prod:
    name: Publish STAC
    runs-on: ubuntu-latest
    concurrency: publish-${{ github.ref }}
    needs: main
    if: ${{ github.ref == 'refs/heads/master' }}

    environment:
      name: prod

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: linz/action-typescript@v3

      # FIXME: catalog.json is not pushed to the repository (temporary solution)
      - name: Create Catalog
        uses: docker://ghcr.io/linz/argo-tasks:v2
        with:
          args: stac-catalog --output stac/catalog.json --template template/catalog.json /github/workspace/stac/

      - name: Validate STAC
        run: |
          # Enable double star operator
          shopt -s globstar
          docker run -v "${PWD}:${PWD}" ghcr.io/linz/argo-tasks:v2 stac-validate "$PWD"/stac/**/collection.json

      - name: AWS Configure
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-southeast-2
          mask-aws-account-id: true
          role-to-assume: ${{ secrets.AWS_ODR_CI_ROLE }}

      - name: AWS Configure ODR
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-southeast-2
          mask-aws-account-id: true
          role-to-assume: ${{ secrets.AWS_ODR_DATA_MANAGER_ROLE }}
          role-chaining: true

      # Sync STAC files only on push to 'master'
      - name: Sync STAC
        uses: docker://ghcr.io/linz/argo-tasks:v2
        with:
          args: stac-sync /github/workspace/stac/ s3://nz-imagery/
