name: Publish to ODR

on:
  push:
    branches:
      - master
    paths:
      - 'publish-odr-parameters/**.yaml'

jobs:
  main:
    name: Publish Imagery
    if: ${{ !contains(github.event.head_commit.message, '[skip-argo]')  }}
    runs-on: ubuntu-latest

    environment:
      name: prod

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 18.x
        uses: actions/setup-node@v4.0.0
        with:
          node-version: '18.x'

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: AWS Configure
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-southeast-2
          mask-aws-account-id: true
          role-to-assume: ${{ secrets.AWS_EKS_CI_ROLE }}

      - name: Login to EKS
        run: |
          aws eks update-kubeconfig --name Workflows --region ap-southeast-2

      - name: Check EKS connection
        run: |
          kubectl get nodes

      - name: Install Argo
        run: |
          curl -sLO https://github.com/argoproj/argo-workflows/releases/download/v3.4.0-rc2/argo-linux-amd64.gz
          gunzip argo-linux-amd64.gz
          chmod +x argo-linux-amd64
          ./argo-linux-amd64 version

      - name: Submit Added/Changed Parameter Files
        id: modified-files
        run: |
          # AM = Include: Added, Modified
          mapfile -d '' modified_parameter_files < <(git diff --name-only --diff-filter=AM -z ${{ github.event.before }} ${{ github.event.after }} -- "publish-odr-parameters/*.yaml")

          for file in "${modified_parameter_files[@]}"; do
            base=$(basename "${file%.yaml}")
            ./argo-linux-amd64 submit --from wftmpl/publish-odr -n argo -f "$file" --generate-name "publish-odr-$base-"
          done
